*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html{
    font-size: 62.5%;
}

.container{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color:#ecddec;
}

a {
    text-decoration: none;
}

.logo{
    position: absolute;
    left: 5rem;
    top: 3rem;
}

.logo a {
    text-shadow: -0.4rem 0.2rem 0.5rem rgba(7, 7, 7, 0.459);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: bold;
    color: #1f1f1f;
    font-size: 3.5rem;
}

.SearchArea {
    position: fixed;
    right: 9rem;
    top: 5rem;
    width: 18rem;
    height: 5rem;
    background-color: #ffffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10% 10% 10% 10% / 50% 50% 50% 50%;
    box-shadow: 0.2rem 0.2rem 1rem rgba(90, 82, 161, 0.2);
    box-sizing: border-box;
    z-index: 1;
    border: 0.1rem solid rgba(167, 158, 245, 0.1);
}

.SearchArea:hover{
    box-shadow:  0.2rem 0.2rem 2rem rgba(52, 32, 73, 0.2);
}

.searchbox input{
    width: 9rem;
    height: 2rem;
    border: none;
    outline: none;
    background-color: transparent;
    color: #1f1f1f;
    font-family: calibri;
    font-size: 1.5rem;
    padding: 0rem 1rem;
}

.searchbox input::placeholder{
    color: #1d1d1d;
    font-weight: 400;
    letter-spacing: 0.2rem;
    font-size: 1.5rem;
    font-family: poppins;
}

.section1{
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translate(-15%, -50%);
}

.section1 img{
    height: 37rem;
}

.section1Button{
    position: absolute;
    top: 55%;
    left: 90%;
    transform: translate(-90%,-55%);
}

.section1Button h1, h2{
    font-family: Roboto;
    font-weight: bold;
    margin: 0rem;
    line-height: 7rem;
    font-size: 6rem;
    text-shadow: -0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.301);
    letter-spacing: 0.5rem;
    color: #3D3D4A;
    text-transform: uppercase;
}

span{
    color: #7230be;
    font-family: Roboto;
}

.section1Button h1{
    letter-spacing: 3.2rem;
}

.btn{
    width: 15rem;
    height: 4rem;
    background-color: #2f2e41;
    box-shadow: 0.2rem 0.2rem 3rem rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10% 10% 10% 10%/ 50% 50% 50% 50%;
    margin-top: 2rem;
    color: #fff;
    font-family: calibri;
    font-weight: 600;
    letter-spacing: 0.05rem;
    font-size: 1.2rem;
    outline: none;
    cursor: pointer;
    border: transparent !important;
}

.btn:hover{
    color: #fff;
    background-color: #7230be;
    transition: all ease 0.5s;
}

.IconArea{
    position: fixed;
    left: 3.5rem;
    top: 40%;
    transform: translate(-40%);
    border-radius: 2rem;
    background-color: #fff;
    box-shadow: 0.2rem 0.2rem 3rem rgba(0, 0, 0, 0.2);
    padding: 0.5rem 0rem;
    z-index: 1;
}

.IconArea a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 1.5rem;
}


.IconArea a .fa-facebook-f{
    color: #3b5998;
    font-weight: 900;
}

.IconArea a .fa-twitter{
    color: #00acee;
    font-weight: 900;
}

.IconArea a .fa-instagram{
    color: #862424;
    font-weight: 900;
}

.IconArea a .fa-youtube{
    color: #b80505;
    font-weight: 900;
}


.productsection{
    width: 85%;
    background-color: #fff;
    box-shadow: 0.2rem 0.2rem 3rem rgba(0, 0, 0, 0.2);
    display: flex;
    margin: 3rem auto;
    flex-direction: column;
    align-items: center;
    padding: 4rem 2rem;
    margin-top: -6rem;
    position: relative;
    background-size: 100rem;
    border-radius: 2rem;
}

.productsection > h3{
    margin: 2rem;
    text-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.05);
    font-family: myriad pro;
    font-weight: 700;
    letter-spacing: 0.2rem;
    text-align: center;
    font-size: 2.5rem;
    color: #323543;
}

.product{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 1rem 0rem;
    width: 100%;
}

.productBox{
    width: 25rem;
    height: 33rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1rem;
    position: relative;
    margin: 1rem 3rem;
}

.productBox img{
    height: 23rem;
}

.productBox p{
    color: #25242488;
    font-family: sans-serif;
    font-size: 1.5rem;
    letter-spacing: 0.06rem;
}

.productBox a{
    color: #111111;
    font-family: poppins;
    font-size: 1.5rem;
}

.BuyBtn{
    position: absolute;
    width: 14rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: calibri;
    left: 50%;
    bottom: -2rem;
    transform: translateX(-50%);
    border-radius: 15% 15% 15% 15% / 50% 50% 50% 50%;
    background: linear-gradient(120deg, #6b60ec 20%, #a166f4);
    color: #fff;
    display: none;
    animation: fade 0.2s;
}

.productBox:hover .BuyBtn{
    display: flex;
}

.productBox:hover{
    box-shadow: -0.5rem 0.5rem 3rem rgba(0, 0, 0, 0.164);
    background-color: rgb(255, 253, 253);
}

.productBox:hover a:last-child{
    color: #fff;
    transition: all ease 0.3s;
}

.about{
    display: flex;
    width: 95%;
    margin: 5rem auto;
    justify-content: space-around;
    align-items: center;
    padding: 3rem;
    background-color:#ecddec ;
}

.aboutBox{
    width: 40%;
    font-family: myriad pro;
}

.aboutBox img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.aboutBox h1{
    color: #333333;
    font-weight: 700;
    font-size: 5rem;
    margin: 0rem;
}

.aboutBox h4{
    color: #2b2a2a;
    font-weight: 400;
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.aboutBox p{
    font-size: 1.2rem;
    color: #646262;
    letter-spacing: 0.05rem;
}

.Notification{
    width: 100%;
    height: 25rem;
    margin-bottom: 3rem;
    background-color: #ecddec;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Notification h1{
    font-family: sans-serif;
    font-size: 2.3rem;
    color: rgb(56, 56, 56);
}

.NotificationInput{
    width: 50rem;
    background-color: #fff;
    border-radius: 7% 7% 7% 7% / 50% 50% 50% 50%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 1.5rem;
    box-shadow: 0.2rem 0.5rem 1.5rem rgba(0, 0, 0, 0.253);
    margin-top: 3rem;
}

.NotificationInput input{
    width: 100%;
    height: 4rem;
    border: none;
    outline: none;
    background-color: transparent;
}

.NotificationButton{
    width: 12rem;
    height: 4rem;
    background-color: #202020;
    border-radius: 2rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0.2rem 0.2rem 3rem rgba(0, 0, 0, 0.1);
    font-size: 1rem;
}

.NotificationButton:hover{
    background-color: #7230be;
    transition: all ease 0.5s;
}

footer{
    background-color: black !important;
    padding: 2rem;
}

.footerp{
    margin-top: 1rem;
    font-family: sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: #f2f2f2;
    word-spacing: 0.5rem;
}


/*Desktop View*/

@media(max-width:998px){
    html{
        font-size: 55%;
    }
}

/*Tablet View*/

@media(max-width:768px){
    html{
        font-size: 45%;
    }

    .container{
        width: 105%;
    }

    .SearchArea{
        right: 5rem;
    }

    .section1{
        position: absolute;
        left: 18%;
        top: 80%;
        transform: translate(-18%, -80%);
    }

    .section1Button{
        position: absolute;
        top: 35%;
        left: 75%;
        transform: translate(-75%,-35%);
    }

    .section1Button h1, h2{
        font-size: 6.5rem;
    }

    .Notification{
        width: 105%;
    }

    footer{
        width: 105%;
    }
}

/*Mobile View*/

@media(max-width:375px){
    html{
        font-size: 30%;
    }

    .container{
        width: 100%;
    }

    .section1{
        position: absolute;
        left: 16.5%;
        top: 85%;
        transform: translate(-16.5%, -85%);
    }  

    .section1 img{
        height: 47rem;
    }
    
    .section1Button{
        position: absolute;
        top: 35%;
        left: 90%;
    } 
    
    .section1Button h1, h2{
        font-weight: bold;
        margin: 5rem;
        line-height: 7rem;
        font-size: 9rem;
        text-shadow: -0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.301);
        letter-spacing: 0.2rem;
    }

    .btn {
        width: 20rem;
        height: 6rem;
        margin-top: 2rem;
        margin-left: 7%;
        letter-spacing: 0.05rem;
        font-size: 2.5rem;
    }

    .logo {
        position: absolute;
        left: 6rem;
        top: 5rem;
    }

    .logo a {
        font-size: 7.2rem;
    }

    .SearchArea{
        position: fixed;
        right: 6rem;
        top: 5rem;
        width: 23rem;
        height: 6.5rem;
    }

    .searchbox input{
        width: 11rem;
        height: 4rem;
        font-size: 2rem;
        padding: 1rem 1rem;
    }

    .productsection{
        width: 85%;
        margin: 0rem 3rem;
    }

    .about{
        width: 100%;
    }
    
    .Notification{
        width: 100%;
    }

    footer{
        width: 100%;
    }
}